<!doctype html>
<html>
<head>
{% title %}
</head>

<body>

{{ test2 }} or {{ test3 }}

<? echo 'test php'; ?>
 {%field2   %}



{%   for i in array2 %} <h1>{{  i  }}</h1> {% endfor  %}

</body>
</html>
